<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>		


	</head>
	<body>

	

	<div class="container container-table">
		<h1><%= title %></h1>
		<a href="/"><button type="button" class="btn btn-info">Home</button></a> 
		<a href="/users/add"><button type="button" class="btn btn-info">Add Users</button></a> 
		<a href="/users"><button type="button" class="btn btn-info">All Users</button></a>
	</div>	
	
